<h2 class="headertekst">Todas as Comissões</h2>
<div id="inner" style="float: left; width: 50%;">
  <div>
    <label>Nome:</label> <input #commissionName />
    <button (click)="add(commissionName.value); commissionName.value=''">
          Adicionar
        </button>
  </div>
  <ul class="commissions">
    <li *ngFor="let commission of commissions" (click)="onSelect(commission)" [class.selected]="commission === selectedCommission">
      <span class="badge">{{commission.id}}</span>
      <span>{{commission.name}}</span>
      <button class="delete" (click)="delete(commission); $event.stopPropagation()">x</button>
    </li>
  </ul>
</div>
<div *ngIf="selectedCommission" style="float: left; width: 50%;">
  <h2>
    {{selectedCommission.name}}
  </h2>
  <span class="badge" style="white-space: pre-line">Número mínimo de integrantes: </span><span>{{selectedCommission.minNumber}}</span><br>
  <span class="badge" style="white-space: pre-line">Número máximo de integrantes: </span><span>{{selectedCommission.maxNumber}}</span><br><br>
  <button (click)="gotoDetail()">Ver Detalhes</button>
</div>