<!-- main app container -->
<div class="jumbotron">
  <div class="container">
        <nav>
                <a routerLink="/login" routerLinkActive="active">Login</a>
                <a routerLink="/teachers" routerLinkActive="active">Professores</a>
                <a routerLink="/disciplines" routerLinkActive="active">Disciplinas</a>
                <a routerLink="/departments" routerLinkActive="active">Departamentos</a>
                <a routerLink="/commissions" routerLinkActive="active">Comissões</a>
                <a routerLink="/positions" routerLinkActive="active">Cargos</a>
        </nav>
      <div class="col-sm-8 col-sm-offset-2">
          <router-outlet></router-outlet>
      </div>
  </div>
</div>


