<div>
    <div class="row">
        <div class="small-3 medium-3 columns">
            <strong>Nome</strong>
        </div>
        <div class="small-3 medium-3 columns">
            <strong>Departamento</strong>
        </div>
        <div class="small-3 medium-3 columns">
            <strong>Mínimo de componentes</strong>
        </div>
        <div class="small-3 medium-3 columns">
            <strong>Máximo de Componentes</strong>
        </div>
        <div class="medium-offset-6 columns"></div>
    </div>
    <hr>
    <div id="list-commission-items"></div>
</div>
