<div>
    <div class="small-3 medium-3 columns">
        <span class="js-edit-name">{{ name }}</span>
    </div>
    <div class="small-3 medium-3 columns">
        <span>{{ department }}</span>
    </div>
    <div class="small-3 medium-3 columns">
        <span>{{ minNumber }}</span>
    </div>
    <div class="small-3 medium-3 columns">
        <span>{{ maxNumber }}</span>
    </div>
  </div>
    <div class="medium-1 columns">
        <a href="#commissions/{{ id }}" class="tiny hollow button js-show-commission">
            <i class="fa fa-eye"></i>
            Exibir
        </a>
    </div>
    <div class="medium-1 columns">
        <a href="#commissions/{{ id }}/edit" class="tiny hollow button js-edit-commission">
            <i class="fa fa-pencil"></i>
            Editar
        </a>
    </div>
    <div class="medium-1 columns">
        <button class="tiny hollow button radius js-delete-commission">
            <i class="fa fa-remove"></i>
            Apagar
        </button>
    </div>
    <div class="medium-offset-3 columns"></div>

</div>
